body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #3b3b3b;
    font-size: 28px;
}

p {
    color: #717171;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}
